$background-color: #f2f3f5;

// BASIC CONTROLS
$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$primary-btn-color: #4E48C8;
$primary-color: #4E48C8;
$color-primary: #4E48C8;
$basic-btn-color: #F2F3F5;
$basic-radius: 8px;
$stroked-btn-text-color: #393645;
$form-input-border-color: #E9EDF0;
$form-input-label-color: #A3AFC0;

$control-height: 48px;
$btn-regular-min-width: 150px;
$btn-regular-heigth: 48px;

// FONTS
// primary font
$primary-font: 'Work Sans';
// font-weight
$light-weigth-ws:300;
$regular-weigth-ws:500;
$bold-weigth-ws:600;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 15px;
$font-md: 18px;
$font-lg: 20px;


// ASIDE COMPONENT
$aside-color: #000000;
$aside-width: 72px;
$aside-height: 100vh;
$aside-item-hover-color: #292929;

$nav-bar-width: 260px;
